.cloth-wrapper {
  margin-top: 10rem;
}

.home-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.4rem;
}

.home-btn img {
  height: 1.5rem;
}

.clothing-detail {
  display: flex;
  gap: 3rem;
  height: 50rem;
  margin-top: 2rem;
}

.clothing-image {
  height: 100%;
  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
}

.details .name {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

.sex::first-letter,
.size {
  text-transform: uppercase;
}

.cart-btn {
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  border: 0.1rem solid #000;
}
.cart-btn:hover {
  background: #f2f2f2;
}
.cart-btn:active {
  background: #e6e6e6;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
