.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login .form {
  font-size: 2.4rem;
  transform: translateY(-30rem);
}

.login .form input {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #eaeaea;
}

.login .error-message {
  font-size: 1.6rem;
}

.login .btn {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.6rem;
}
