.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
}

.registration .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
  min-width: 25rem;
  margin-top: -10rem;
}

.registration .title {
  margin-bottom: 2rem;
}

.registration .form input {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.6rem;
  border: 0.1rem solid #eaeaea;
}

.registration .btn {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.6rem;
  opacity: 0.3;
  pointer-events: none;
}

.registration .btn.active {
  opacity: 1;
  pointer-events: all;
}

.registration .error-message {
  font-size: 1.8rem;
}

.auth-redirect {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 1.5rem;
  font-size: 1.6rem;
}

.auth-link {
  color: rgb(85, 179, 255);
  font-weight: 600;
}
